$blackBack: #101010;
$font: 'Abel', sans-serif;
$container: 900px;
$margin:300px;

.navContainer{
    background-color: $blackBack !important;
    height: 12%;
    position:fixed;
    width:100%;
    top: 0;
    z-index:1;
    
}

.navControls{
    margin-right:50px;
    position:relative;
    font-size: 20px;
    text-align: center;
    

}

.navbar-toggler{
    background-color:  white !important; 
    margin-right: 100px;
    
}

.logo{
    margin-top: 0;
    margin-left: 30px;
    position:relative;
    float:left;
}


.nav{
    font-family: $font;
    //position: relative;
    //margin-top: 60px;
    width:100%;
    margin-right: 20px;
    background-color: $blackBack;
    color:white;
    border-radius: 3px;
    text-align: center;   
}



.bottomNav{
    background-color: $blackBack;
    height: 12%;
      position: fixed;
      bottom: 0;
      width: 100%;
  }
   
  .icons{
    margin-top: 20px;
}

.iconImgOne{
    position: relative; 
    float: left;
    margin-left:5%;
}

.contact{
    color:white;
    margin-left: 12%;
    margin-right:12%;
    margin-top: 2%;
    font-family:$font;
    font-size: 120%;
}
.phone{
    position: relative;
    float:left;

}

.email{
    position: relative;
    float:right;
}
.iconImgTwo{
    position: relative; 
    float: right;
    margin-right:5%;
}
a {
    text-decoration: none;
    color: white;
  }

  .mainContainer{
    font-family: $font;
    position:absolute;
    margin-top: 12%;
    z-index: 0;
    width:90%;
    margin-right:5%;
    margin-left:5%;
    margin-bottom: 10%;
    
}







@media only all 
and (min-width : 768px) 
and (max-width : 1024px) 
and (orientation : portrait) { 


    .mainContainer{
        margin-top: 20%;
    }
    
    

    .contact{
        
        margin-left: 5%;
        margin-right:5%;
        margin-top: 3%;
      
        font-size: 120%;
    }
    .icons{
        margin-top: 30px;
    }

    

  
}

// @media only all
// and (min-width : 768px) 
// and (max-width : 1024px) 
// and (orientation : landscape) { 
//     .contact{
        
//         margin-left: 5%;
//         margin-right:5%;
//         margin-top: 2%;
      
//         font-size: 120%;
//     }
//     .icons{
//         margin-top: 20px;
//     }




// }


@media only screen 
and (max-device-width : 767px) {

    .navControls{
        font-size: 20px;
        
    }

    .logo{
        width:150px;
        height:75px;
        margin-right:5%;
    }
   
    .navbar-toggler{ 
        margin-right: 10px;
        
    }

    .contact{
           
        margin-left:0%;
         margin-right:0%;
    }
      .phone, .email{
          font-size:15px;
          margin-top: -30px;
          margin-bottom:30px;
          width:100%;
          text-align:center;

      }
.icons{
margin-top:2%;
}

.mainContainer{
    margin-top:30%;
    margin-bottom:30%;
}





}

@media only screen 
and (min-width : 375px) 
and (max-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) { 


    .navControls{
        font-size: 20px;
        
    }

    .logo{
        width:150px;
        height:75px;
        margin-right:5%;
    }
   
    .navbar-toggler{ 
        margin-right: 40px;
        
    }

    .contact{
           
        margin-left:0%;
         margin-right:0%;
    }
      .phone, .email{
          font-size:15px;
          margin-top: -30px;
          margin-bottom:30px;
          width:100%;
          text-align:center;

      }
.icons{
margin-top:2%;
}

.mainContainer{
    margin-top:30%;
    margin-bottom:30%;
}


}

@media only screen 
and (min-width : 375px) 
and (max-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : landscape) { 

    .navContainer{
        height:15%;
        
    }
    .bottomNav{
        height: 15%;
      }


      
      .icons{
        margin-top:0px;
    }



  .logo{
      width:100px;
      height:50px;
  }





}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape){
    .navContainer{
        height:15%;
        
    }
    .bottomNav{
        height: 15%;
      }

      .icons{
        margin-top:0px;
    }



  .logo{
      width:100px;
      height:50px;
  }

  .contact{
           
    margin-left:0%;
     margin-right:0%;
}
  .phone, .email{
      font-size:15px;
      margin-top: -40px;
      margin-bottom:40px;
      width:100%;
      text-align:center;

  }





}